<div class="informacion">
  
  <div class="informacion__inferior">
    <div class="informacion__inferior-elemento">
      <i class="informacion__inferior-icono fas fa-phone-alt"></i>
      <div class="informacion__inferior-texto">
        <h4 class="informacion__inferior-h4">
          <a class="enlace-sin_estilo" href="tel:0228630182" target="_blank"
            >0228 630182</a
          >
        </h4>
        <p class="informacion__inferior-p">
          {{ "atencion al cliente" | uppercase }}
        </p>
      </div>
    </div>
    <div class="informacion__inferior-elemento">
      <i class="informacion__inferior-icono fas fa-map-marker-alt"></i>
      <div class="informacion__inferior-texto">
        <h4 class="informacion__inferior-h4">
          <a class="enlace-sin_estilo" [routerLink]="['locales']">{{
            "locales" | uppercase
          }}</a>
        </h4>
        <p class="informacion__inferior-p">
          {{ "Todas nuestras sucursales" | uppercase }}
        </p>
      </div>
    </div>
   
    <div class="informacion__inferior-sociales">
      <div class="informacion__inferior-texto">
        <h4 class="informacion__inferior-h4">
          {{ "seguinos en" | uppercase }}
        </h4>
        <p class="informacion__inferior-p">
          {{ "Todas nuestras redes sociales" | uppercase }}
        </p>
      </div>
      <div class="redes-sociales">
        <div class="facebook">
          <a href="https://www.facebook.com/sedacosmeticaoficial/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </div>
        <div class="instagram">
          <a href="https://www.instagram.com/sedacosmeticaoficial/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  <hr class="elemento__hr" />
  <div class="informacion__superior">
    
    <div class="informacion__inferior-elemento">
      <div class="informacion__inferior-texto">
       
        <p class="informacion__inferior-p">
          {{logo}} 
          &copy;
         {{ year }} 
        </p>
       
      </div>
    </div>
   
  </div>

</div>
