<div class="usuario">
  

<button
    *ngIf="true"
    (click)="cargarComprobante()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Cargar Comprobante
  </button>

  <button
    *ngIf="true"
    (click)="verComprobantes()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Ver Comprobantes
  </button>

  <button
    *ngIf="usuario['role']==='ADMIN_ROLE'"
    (click)="dashboard()"
    class="usuario__arqueo-btn"
    type="button"
  >
    DashBoard
  </button>
  <button
    *ngIf="true"
    (click)="cerrarSesion()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Cerrar Sesión
  </button>
</div>
