<div class="usuario">
  <button
    *ngIf="adminRole && false"
    (click)="iniciarArqueo()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Iniciar Arqueo
  </button>

  <button
    *ngIf="(adminRole || userRole) && false"
    (click)="verArqueos()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Ver Arqueos
  </button>

  <button
    *ngIf="adminRole"
    (click)="dashboard()"
    class="usuario__arqueo-btn"
    type="button"
  >
    DashBoard
  </button>
  <button
    (click)="cerrarSesion()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Cerrar Sesión
  </button>
</div>
