<app-navbar></app-navbar>
<div class="usuario">
  <button
    *ngIf="true"
    (click)="dashboard()"
    class="usuario__arqueo-btn"
    type="button"
  >
    DashBoard
  </button>
  <button
    *ngIf="true"
    (click)="objetivos()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Objetivos
  </button>
  <button
    *ngIf="usuario.role == 'ADMIN_ROLE'"
    (click)="crearObjetivo()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Crear Objetivo
  </button>

  <hr class="menuDeInicio__hr" />

  <button
    *ngIf="true"
    (click)="cargarComprobante()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Cargar Comprobante
  </button>

  <button
    *ngIf="true"
    (click)="verComprobantes()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Comprobantes
  </button>

  <button
    *ngIf="usuario.role == 'ADMIN_ROLE'"
    (click)="bancos()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Bancos
  </button>

  <button
    *ngIf="usuario.role == 'ADMIN_ROLE'"
    (click)="sucursalesMenu()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Sucursales
  </button>
  <button
    *ngIf="usuario.role == 'ADMIN_ROLE'"
    (click)="usuarios()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Usuarios
  </button>

  <hr class="menuDeInicio__hr" />

  <button
    *ngIf="true"
    (click)="cerrarSesion()"
    class="usuario__arqueo-btn"
    type="button"
  >
    Cerrar Sesión
  </button>
</div>
