<div class="banner">
  <div class="banner__contenedor-titulo">
    <h1 id="banner-titulo" class="banner__titulo">Importadora de cosméticos</h1>
  </div>
  <img
    id="banner-img"
    class="banner__img"
    src="{{ './assets/img/banners/banner.png' }}"
    alt="banner"
  />
</div>
<div class="banner__tarjeta">
  <div class="banner__tarjeta-mayorista">
    <div class="banner__terjeta-mayorista-izquierda">
      <i class="banner__tarjeta-icono fas fa-cash-register"></i>
    </div>
    <div class="banner__tarjeta-mayorista-derecha">
      <h3 class="banner__tarjeta-mayorista-h3">
        {{ "Precios Mayoristas" | uppercase }}
      </h3>
      <p class="banner__tarjeta-mayorista-p">
        {{ "precios especiales para clientes mayoristas" | uppercase }}
      </p>
    </div>
  </div>
  <div class="banner__tarjeta">
    <div class="banner__tarjeta-mayorista">
      <div class="banner__terjeta-mayorista-izquierda">
        <i class="banner__tarjeta-icono fas fa-truck"></i>
      </div>
      <div class="banner__tarjeta-mayorista-derecha">
        <h3 class="banner__tarjeta-mayorista-h3">
          {{ "Envio por encomienda a todo el país " | uppercase }}
        </h3>
        <p class="banner__tarjeta-mayorista-p">
          {{ "Envío desde cualquier sucursal " | uppercase }}
        </p>
      </div>
    </div>
  </div>

  <div class="banner__tarjeta">
    <div class="banner__tarjeta-mayorista">
      <div class="banner__terjeta-mayorista-izquierda">
        <i class="banner__tarjeta-icono fas fa-mobile-alt"></i>
      </div>
      <div class="banner__tarjeta-mayorista-derecha">
        <h3 class="banner__tarjeta-mayorista-h3"> <a class="enlace-sin_estilo" href="tel:0228630182" target="_blank">0228 630182</a></h3>
        <p class="banner__tarjeta-mayorista-p">
          {{ "ATENCIÓN AL CLIENTE" | uppercase }}
        </p>
      </div>
    </div>
  </div>
</div>
