<form
  *ngIf="true"
  class="crear__comprobantes-container"
  [formGroup]="formulario"
  (ngSubmit)="enviarFormulario()"
>
  <label class="titulo__formulario" for="incremento">Editar Objetivo</label>

  <div class="crear__comprobantes-formulario-elemento">
    <label for="incremento">Sucursal: {{objetivo.sucursal}} </label>
  </div>

  <div class="crear__comprobantes-formulario-elemento">
    <label for="incremento">Mes: {{meses[objetivo.mes-1]}} </label>
  </div>

  <div class="crear__comprobantes-formulario-elemento">
    <label for="incremento">Incremento en % : </label>
    <input
      class="crear__comprobantes-formulario-input"
      type="text"
      formControlName="incremento"
      name="incremento"
    />
    <br />
    <small *ngIf="incrementoNoValido" class="text-danger"
      >El campo Incremento es obligatorio.</small
    >
  </div>
  <button
    class="crear__comprobantes-btn"
    *ngIf="!creandoComprobante"
    type="submit"
  >
    Actualizar Objetivo
  </button>
  <button
    class="crear__comprobantes-loading-btn"
    *ngIf="creandoComprobante"
    type="button"
    [disabled]="true"
  >
    <i class="fas fa-spinner fa-pulse fa-2x"></i>
  </button>
</form>
