<div class="banco__contenedor">
  <div class="banco__barra-superior">
    <button
      *ngIf="true"
      (click)="crearSucursal()"
      class="usuario__arqueo-btn"
      type="button"
    >
      Crear Sucursal
    </button>
  </div>
  <div class="">
    <div id="reporte-pagos-tarjetas-titulo" class="reporte__dashboard-titulo">
      <h4 class="menuDeInicio__tituloSecundario">
        {{ "Sucursales" | uppercase }}
      </h4>
    </div>
    <table class="menuDeInicio__table">
      <tr id="reporte-pagos-tarjetas-header" class="menuDeInicio__table-tr">
        <th class="dashboard__formulario__table-th-100">#</th>
        <th class="dashboard__formulario__table-th-230">Sucursal</th>
        <th class="dashboard__formulario__table-th-100">Código</th>
        <th class="dashboard__formulario__table-th-230">Dirección</th>
        <th class="dashboard__formulario__table-th-100"></th>
        <th class="dashboard__formulario__table-th-50">{{ 'Opciones' }}</th>
        <th class="dashboard__formulario__table-th-100"></th>
      </tr>
      <tr
        id="{{'reporte-pagos-tarjetas-'+i}}"
        *ngFor="let sucursal of sucursales; let i = index"
        class="menuDeInicio__table-tr"
      >
        <td class="dashboard__formulario__table-td-100">{{ i + 1 }}</td>
        <td class="dashboard__formulario__table-td-230">
          {{ sucursal.titulo | uppercase }}
        </td>
        <td class="dashboard__formulario__table-td-100">
          {{ sucursal.codigosucursal }}
        </td>
        <td class="dashboard__formulario__table-td-230">
          {{ sucursal.direccion | uppercase }}
        </td>
        <td class="dashboard__formulario__table-td-100">
          <button
            *ngIf="true"
            (click)="modificarSucursal(sucursal._id)"
            class="usuario__arqueo-btn"
            type="button"
          >
            Editar
          </button>
        </td>
        <td class="dashboard__formulario__table-td-50"></td>
        <td class="dashboard__formulario__table-td-100">
          <button
            *ngIf="true"
            (click)="eliminarSucursal(sucursal._id, sucursal.titulo)"
            class="usuario__arqueo-btn"
            type="button"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
