<div class="banco__contenedor">
  <div class="banco__barra-superior">
    <button
      *ngIf="true"
      (click)="crearBanco()"
      class="usuario__arqueo-btn"
      type="button"
    >
      Agregar Banco
    </button>

    <div class="menu__buscar">
      <input
        #buscarTermino
        class="menu__buscar-texto"
        type="text"
        placeholder="Buscar Banco"
        (keyup.enter)="buscarBanco(buscarTermino.value)"
      />
      <i
        (click)="buscarBanco(buscarTermino.value)"
        class="menu__buscar-buscar fas fa-search"
      ></i>
    </div>
  </div>
  <div class="">
    <div id="reporte-pagos-tarjetas-titulo" class="reporte__dashboard-titulo">
      <h4 class="menuDeInicio__tituloSecundario">{{ "Bancos" | uppercase }}</h4>
    </div>
    <table class="menuDeInicio__table">
      <tr id="reporte-pagos-tarjetas-header" class="menuDeInicio__table-tr">
        <th class="dashboard__formulario__table-th-100">#</th>
        <th class="dashboard__formulario__table-th-230">Banco</th>
        <th class="dashboard__formulario__table-th-230">Descripción</th>
        <th class="dashboard__formulario__table-td-100"></th>
        <th class="dashboard__formulario__table-td-100">{{ 'Opción' }}</th>
        <th class="dashboard__formulario__table-td-100"></th>
      </tr>
      <tr
        id="{{'reporte-pagos-tarjetas-'+i}}"
        *ngFor="let banco of bancos; let i = index"
        class="menuDeInicio__table-tr"
      >
        <td class="dashboard__formulario__table-td-100">{{ i + 1 }}</td>
        <td class="dashboard__formulario__table-td-230">
          {{ banco.nombre | uppercase }}
        </td>
        <td class="dashboard__formulario__table-td-230">
          {{ banco.desc | uppercase }}
        </td>
        <td class="dashboard__formulario__table-td-100">
          <button
            *ngIf="true"
            (click)="console.log('Funciona')"
            class="usuario__arqueo-btn"
            type="button"
          >
            Cuentas
          </button>
        </td>
        <td class="dashboard__formulario__table-td-100">
          <button
            *ngIf="true"
            (click)="editarBanco(banco._id)"
            class="usuario__arqueo-btn"
            type="button"
          >
            Editar
          </button>
        </td>
        <td class="dashboard__formulario__table-td-100">
          <button
            *ngIf="true"
            (click)="eliminarBanco(banco._id, banco.nombre)"
            class="usuario__arqueo-btn"
            type="button"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
