<div
  [ngClass]="{ 'menu__flotante-fixed': fijarMenu }"
  id="menu__flotante3"
  class="menu__flotante"
>
  <a [routerLink]="['buscar','ROUBAIX','0']" routerLinkActive="router-link-active"  ><img
    class="menu__flotante-derecha-img-linea"
    src="{{ './assets/img/marcas/roubaix color.png' }}"
    alt="banner2"
  /></a>

  <a [routerLink]="['buscar','REAL COLOR','0']" routerLinkActive="router-link-active"  ><img
    class="menu__flotante-derecha-img-linea"
    src="{{ './assets/img/marcas/real_color.png' }}"
    alt="banner2"
    /></a>


    <a [routerLink]="['buscar','NEVADA','0']" routerLinkActive="router-link-active"  ><img
      class="menu__flotante-derecha-img-linea"
      src="{{ './assets/img/marcas/nevada.png' }}"
      alt="banner2"
      /></a>

      <a [routerLink]="['buscar','ROSENTAL','0']" routerLinkActive="router-link-active"  ><img
        class="menu__flotante-derecha-img-linea"
        src="{{ './assets/img/marcas/rosental.png' }}"
        alt="banner2"
        /></a>

<a [routerLink]="['buscar','SKAFE','0']" routerLinkActive="router-link-active"  ><img
  class="menu__flotante-derecha-img-linea"
  src="{{ './assets/img/marcas/skafe.png' }}"
  alt="banner2"
  /></a>
</div>
<div
  [ngClass]="{ 'menu__flotante-fixed': fijarMenu }"
  id="menu__flotante4"
  class="menu__flotante"
>
  <div class="menu__flotante-izquierda">
    <ul class="menu__flotante-izquierda-lista">
      <li class="menu__flotante-izquierda-elemento">
        <a class="menu__flotante-izquierda-link" href="#">Damas4</a>
      </li>
      <li class="menu__flotante-izquierda-elemento">
        <a class="menu__flotante-izquierda-link" href="#">Caballeros4</a>
      </li>
      <li class="menu__flotante-izquierda-elemento">
        <a class="menu__flotante-izquierda-link" href="#">Shampoo4</a>
      </li>
      <li class="menu__flotante-izquierda-elemento">
        <a class="menu__flotante-izquierda-link" href="#">Maquillaje4</a>
      </li>
      <li class="menu__flotante-izquierda-elemento">
        <a class="menu__flotante-izquierda-link" href="#">Corporal4</a>
      </li>
    </ul>
  </div>
  <div class="menu__flotante-derecha">
    <img
      class="menu__flotante-derecha-img"
      src="{{ './assets/img/marcas/banner_menu_492X229-CAT34-basico.jpg' }}"
      alt="banner2"
    />
  </div>
</div>
