<div class="productos">
  <h2 class="productos__titulo">
    <i class="productos__icono fas fa-circle"></i>{{ titulo | uppercase }}
  </h2>
  <div *ngIf="!mercaderias" class="productos__loading">
    <p class="productos__loading-titulo">CARGANDO PRODUCTOS</p>
    <i class="productos__loading-icono fas fa-spinner fa-pulse fa-3x"></i>
  </div>
  <div class="productos__contenedor">
    <div *ngFor="let mercaderia of mercaderias" class="productos__producto">
      <img
        class="productos__producto-img"
        src="{{ './assets/img/noimage.png' }}"
        alt="no-imagen"
      />
      <p class="productos__producto-titulo">
        {{ mercaderia.productonombre | uppercase }}
      </p>
      <p class="productos__producto-titulo">código: {{ mercaderia.codigo }}</p>
      <a href="#" class="productos__producto-link">{{
        "ver más" | uppercase
      }}</a>
    </div>
  </div>
</div>

