<div class="usuario">
    <button *ngIf="adminRole" (click)="iniciarArqueo()" class="usuario__arqueo-btn" type="button">Iniciar Arqueo</button>

    <button *ngIf="adminRole || userRole" (click)="verArqueos()" class="usuario__arqueo-btn" type="button">Ver Arqueos</button>

    <button *ngIf="adminRole" (click)="reporteBanco()" class="usuario__arqueo-btn" type="button">Reporte por Banco</button>

    <button *ngIf="adminRole" (click)="reporteCuenta()" class="usuario__arqueo-btn" type="button">Reporte por Cuenta</button>

    <button *ngIf="adminRole" (click)="reporteGeneral()" class="usuario__arqueo-btn" type="button">Reporte General</button>
    

</div>
