<div class="catalogo">
    <div class="catalogo__titulo">
        <h4>Catálogos PDF</h4>
    </div>
    <ul class="catalogo__lista">
        <li 
        *ngFor="let marca of marcas; let i = index"
        class="catalogo__elemento"
        >
        <div *ngIf="marcaActivo[i]" class="catalogo__cargando">
            <p class="catalogo__cargando-titulo">Generando PDF <i class="fas fa-sync-alt fa-spin"></i></p>
        </div>
        <a *ngIf="!marcaActivo[i]" class="catalogo__btn"
            (click)="generarMercaderias(marca, i)" 
            [ngClass]="{'catalogo__btn-activo': marcaActivo[i]}"
            >
            {{marca | uppercase}} <i class="fas fa-file-download"></i>  
        </a></li>
    </ul>
</div>
