<div class="banco__contenedor">
  <div class="banco__barra-superior">
    <button
      *ngIf="true"
      (click)="crearCuenta()"
      class="usuario__arqueo-btn"
      type="button"
    >
      Agregar Cuenta
    </button>
  </div>
  <div class="">
    <div id="reporte-pagos-tarjetas-titulo" class="reporte__dashboard-titulo">
      <h4 class="menuDeInicio__titulo">
        {{ 'Cuentas Bancarias del banco '+titulo | uppercase }}
      </h4>
    </div>

    <table class="menuDeInicio__table">
      <tr id="reporte-pagos-tarjetas-header" class="menuDeInicio__table-tr">
        <th class="dashboard__formulario__table-th-100">#</th>
        <th class="dashboard__formulario__table-th-230">Titular</th>
        <th class="dashboard__formulario__table-th-230">Nro de Cuenta</th>
        <th class="dashboard__formulario__table-td-100"></th>
        <th class="dashboard__formulario__table-td-100">{{ 'Opción' }}</th>
        <th class="dashboard__formulario__table-td-100"></th>
      </tr>
      <tr
        id="{{'reporte-pagos-tarjetas-'+i}}"
        *ngFor="let cuenta of cuentas; let i = index"
        class="menuDeInicio__table-tr"
      >
        <td class="dashboard__formulario__table-td-100">{{ i + 1 }}</td>
        <td class="dashboard__formulario__table-td-230">
          {{ cuenta.titular | uppercase }}
        </td>
        <td class="dashboard__formulario__table-td-230">
          {{ cuenta.nroCuenta | uppercase }}
        </td>
        <td class="dashboard__formulario__table-td-100"></td>
        <td class="dashboard__formulario__table-td-100">
          <button
            *ngIf="true"
            (click)="editarCuenta(idBanco, cuenta._id)"
            class="usuario__arqueo-btn"
            type="button"
          >
            Editar
          </button>
        </td>
        <td class="dashboard__formulario__table-td-100">
          <button
            *ngIf="true"
            (click)="eliminarCuenta(cuenta._id, cuenta.titular, cuenta.nroCuenta)"
            class="usuario__arqueo-btn"
            type="button"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
