<div class="locales__contenedor">
  <iframe
    class="locales__iframe"
    src="https://www.google.com/maps/d/embed?mid=1v6Cq2jKQbLXfEhZz3cQKyzA02aHUvfTk&z=7"
  ></iframe>
  <div class="locales__encabezado">
    <h3 class="locales__titulo">Nuestros Locales</h3>
  </div>
  <div class="locales__local">
    <div *ngFor="let local of locales" class="locales__local-elemento">
      <div class="locales__local-img">
        <img
          class="locales__local-imagen"
          [src]="local.img"
          alt="imagen de local"
        />
      </div>
      <div class="locales__local-info">
        <h3 class="locales__local-titulo">{{ local.titulo | uppercase }}</h3>
        <p class="locales__local-direccion">{{ local.direccion }}</p>
        <a  href="{{llamar(local.tel)}}" class="cursor locales__local-tel" target="_blank"><i class="fas fa-phone-square-alt"></i>  {{ local.tel }}</a>
        <p (click)="whatsApp(local.cel)" class="cursor locales__local-tel"><i class="fab fa-whatsapp-square"></i> {{ local.cel }}</p>
        <a class="locales__local-correo" href="mailto:{{local.correo}}"><i class="fas fa-at"></i> Enviar Correo</a> 
      </div>
    </div>
  </div>
</div>
