<div class="menuDeInicio">
  <div class="menuDeInicio__barraSuperior">
    <form
      [formGroup]="form"
      class="dashboard__formulario"
      (ngSubmit)="enviarFormulario()"
    >
      <div *ngIf="!loading" class="dashboard__formulario-elemento">
        <mat-form-field appearance="fill">
          <mat-label>Rango de Arqueo</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              class="crear__comprobantes-formulario-input-fecha"
              matStartDate
              formControlName="start"
              placeholder="Desde"
            />
            <input
              class="crear__comprobantes-formulario-input-fecha"
              matEndDate
              formControlName="end"
              placeholder="Hasta"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="false">Fecha inicial no valida</mat-error>
          <mat-error *ngIf="false">Fecha final no valida</mat-error>
        </mat-form-field>
      </div>

      <div
        *ngIf="form.get('end').value != '' && !loading"
        class="dashboard__formulario-elemento"
      >
        <select
          *ngIf="!loading"
          (change)="limpiarReporte()"
          formControlName="sucursal"
          class="custom-select"
        >
          <option *ngIf="usuario['role'] === 'ADMIN_ROLE'" value="">
            Todas las Sucursales
          </option>

          <option
            *ngFor="let branchOffice of branchOffices; let i = index"
            [value]="branchOffice.titulo"
          >
            {{ branchOffice.titulo }}
          </option>
        </select>
      </div>
      <div
        *ngIf="!isDownloadPDF.includes(true)"
        class="dashboard__formulario-elemento"
      >
        <button
          *ngIf="!loading"
          (click)="recargarDatos()"
          class="dashboard__formulario-btn"
          type="button"
        >
          Actualizar Informe
        </button>
        <button
          disabled
          *ngIf="loading"
          class="dashboard__formulario-btn"
          type="button"
        >
          <i class="fas fa-sync fa-spin"></i>
        </button>
      </div>
    </form>
  </div>
  <div id="htmlData" class="menuDeInicio__body">
    <div class="menuDeInicio__reporteGeneral">
      <hr class="elemento__hr" />
      <h3 class="menuDeInicio__titulo">
        {{ "Informe comercial" | uppercase }}
      </h3>
      <p class="menuDeInicio__subTitulo">
        Periodo desde el {{ start | date: "fullDate":"GMT-3":"es" }}, hasta el
        {{ end | date: "fullDate":"GMT-3":"es" }}
      </p>
      <div
	id="pie-graphic"
        *ngIf="
          nombreDeSucursales.length == ventasNetaDeSucursales.length &&
          nombreDeSucursales.length > 0 &&
          form.get('sucursal').value == ''
        "
      >
        <app-pie-chart
          [nombreDeSucursales]="nombreDeSucursales"
          [ventasNetaDeSucursales]="ventasNetaDeSucursales"
          [totalVentasNetas]="totalVentasNetas"
        ></app-pie-chart>
      </div>
      <div class="reporte__dashboard-iconos">
        <button
          *ngIf="!isDownloadPDF[0] && usuario['role'] === 'ADMIN_ROLE'"
          (click)="downloadPDF('reporte-general', reportes.length,'Reporte General',0)"
          class="reporte__dashboard-btn"
          type="button"
        >
          <i class="fas fa-print"></i>
        </button>
        <button
          disabled
          *ngIf="isDownloadPDF[0]"
          class="reporte__dashboard-btn"
          type="button"
        >
          <i class="fas fa-spinner fa-pulse"></i>
        </button>
      </div>

      <div id="reporte-general" class="reporte__dashboard">
        <div id="reporte-general-titulo" class="reporte__dashboard-titulo">
          <h4 class="menuDeInicio__tituloSecundario">
            {{ "Reporte General" | uppercase }}
          </h4>
        </div>

        <table class="menuDeInicio__table">
          <tr id="reporte-general-header" class="menuDeInicio__table-tr">
            <th class="dashboard__formulario__table-th-230">Sucursal</th>
            <th class="dashboard__formulario__table-th-100">Venta Neta</th>
            <th class="dashboard__formulario__table-th-100">Costo</th>
            <th class="dashboard__formulario__table-th-100">Utilidad</th>
            <th class="dashboard__formulario__table-th-100">Gasto</th>
            <th class="dashboard__formulario__table-th-100">Ganancia</th>
            <th class="dashboard__formulario__table-th-100">Retiro</th>
            <th class="dashboard__formulario__table-th-100">Tarjeta</th>
            <th class="dashboard__formulario__table-th-100">Cheque</th>
            <th class="dashboard__formulario__table-th-100">Deposito</th>
            <th class="dashboard__formulario__table-th-100">
              Estado de arqueo
            </th>
          </tr>

          <tr
            id="{{'reporte-general-'+i}}"
            s
            *ngFor="let reporte of reportes; let i = index"
            class="menuDeInicio__table-tr"
          >
            <td class="dashboard__formulario__table-td-230">
              {{ reporte.sucursal }}
            </td>
            <td class="dashboard__formulario__table-th-100">
              {{ reporte.ventaNeta | number: "1.0-0":"es" }} Gs
            </td>
            <td class="dashboard__formulario__table-th-100">
              {{ reporte.costo | number: "1.0-0":"es" }} Gs
            </td>
            <td class="dashboard__formulario__table-th-100">
              {{ reporte.totalUtilidad | number: "1.0-0":"es" }} Gs
            </td>
            <td class="dashboard__formulario__table-th-100">
              {{ reporte.totalGasto | number: "1.0-0":"es" }} Gs
            </td>
            <td class="dashboard__formulario__table-th-100">
              {{ reporte.ganancia | number: "1.0-0":"es" }} Gs
            </td>
            <td class="dashboard__formulario__table-th-100">
              {{ reporte.totalRetiro | number: "1.0-0":"es" }} Gs
            </td>
            <td class="dashboard__formulario__table-th-100">
              {{ reporte.totalTarjeta | number: "1.0-0":"es" }} Gs
            </td>
            <td class="dashboard__formulario__table-th-100">
              {{ reporte.totalCheque | number: "1.0-0":"es" }} Gs
            </td>
            <td class="dashboard__formulario__table-th-100">
              {{ reporte.totalDeposito | number: "1.0-0":"es" }} Gs
            </td>

            <td
              *ngIf="
              reporte.totalDeposito +
                reporte.totalCheque +
                reporte.totalTarjeta +
                reporte.totalRetiro +
                reporte.totalGasto <
              reporte.ventaNeta
            "
              class="dashboard__formulario__table-th-100"
            >
              Faltante: {{ reporte.ventaNeta - (reporte.totalDeposito +
              reporte.totalCheque + reporte.totalTarjeta + reporte.totalRetiro +
              reporte.totalGasto) | number: "1.0-0":"es" }} Gs
            </td>

            <td
              *ngIf="
              reporte.totalDeposito +
                reporte.totalCheque +
                reporte.totalTarjeta +
                reporte.totalRetiro +
                reporte.totalGasto ==
              reporte.ventaNeta
            "
              class="dashboard__formulario__table-th-100"
            >
              Arqueo Exitoso
            </td>

            <td
              *ngIf="
              reporte.totalDeposito +
                reporte.totalCheque +
                reporte.totalTarjeta +
                reporte.totalRetiro +
                reporte.totalGasto >
              reporte.ventaNeta
            "
              class="dashboard__formulario__table-th-100"
            >
              Excedente: {{ reporte.totalDeposito + reporte.totalCheque +
              reporte.totalTarjeta + reporte.totalRetiro + reporte.totalGasto -
              reporte.ventaNeta | number: "1.0-0":"es" }} Gs
            </td>
          </tr>
          <tr id="reporte-general-footer" class="menuDeInicio__table-tr">
            <th class="dashboard__formulario__table-th-230">Total</th>
            <th class="dashboard__formulario__table-th-100">
              {{ totalVentasNetas | number: "1.0-0":"es" }} Gs
            </th>
            <th class="dashboard__formulario__table-th-100">
              {{ totalCosto | number: "1.0-0":"es" }} Gs
            </th>
            <th class="dashboard__formulario__table-th-100">
              {{ totalUtilidad | number: "1.0-0":"es" }} Gs
            </th>
            <th class="dashboard__formulario__table-th-100">
              {{ totalGasto | number: "1.0-0":"es" }} Gs
            </th>
            <th class="dashboard__formulario__table-th-100">
              {{ totalGanancia | number: "1.0-0":"es" }} Gs
            </th>
            <th class="dashboard__formulario__table-th-100">
              {{ totalRetiro | number: "1.0-0":"es" }} Gs
            </th>
            <th class="dashboard__formulario__table-th-100">
              {{ totalTarjeta | number: "1.0-0":"es" }} Gs
            </th>
            <th class="dashboard__formulario__table-th-100">
              {{ totalCheque | number: "1.0-0":"es" }} Gs
            </th>
            <th class="dashboard__formulario__table-th-100">
              {{ totalDeposito | number: "1.0-0":"es" }} Gs
            </th>
            <th class="dashboard__formulario__table-th-100">
              Estado de arqueo
            </th>
          </tr>
        </table>
      </div>
      <div
        *ngIf="form.get('sucursal').value != ''"
        class="menuDeInicio__tableElemento"
      >
        <div class="reporte__dashboard-iconos">
          <button
            *ngIf="!isDownloadPDF[1] && usuario['role'] === 'ADMIN_ROLE'"
            (click)="downloadPDF('reporte-gastos',reporteDeGasto.length, 'Reporte de Gastos',1)"
            class="reporte__dashboard-btn"
            type="button"
          >
            <i class="fas fa-print"></i>
          </button>
          <button
            disabled
            *ngIf="isDownloadPDF[1]"
            class="reporte__dashboard-btn"
            type="button"
          >
            <i class="fas fa-spinner fa-pulse"></i>
          </button>
        </div>

        <div id="reporte-gastos" class="reporte__dashboard">
          <div id="reporte-gastos-titulo" class="reporte__dashboard-titulo">
            <h4 class="menuDeInicio__tituloSecundario">
              {{ "Reporte de Gastos" | uppercase }}
            </h4>
          </div>
          <table class="menuDeInicio__table">
            <tr id="reporte-gastos-header" class="menuDeInicio__table-tr">
              <th class="menuDeInicio__table-th">#</th>
              <th class="menuDeInicio__table-th">Gasto</th>
              <th class="menuDeInicio__table-th">Monto</th>
              <th class="menuDeInicio__table-th-fecha">Fecha de Arqueo</th>
              <th class="menuDeInicio__table-th-reporteGasto">Observación</th>
            </tr>
            <tr
              id="{{'reporte-gastos-'+i}}"
              *ngFor="let gasto of reporteDeGasto; let i = index"
              class="menuDeInicio__table-tr"
            >
              <td class="menuDeInicio__table-td">{{ i + 1 }}</td>
              <td class="menuDeInicio__table-td">{{ gasto.comprobante }}</td>
              <td class="menuDeInicio__table-td">
                {{ gasto.monto | number: "1.0-0":"es" }} Gs
              </td>
              <td class="menuDeInicio__table-td-fecha">
                {{ gasto.fArqueo | date: "fullDate":"GMT-3":"es" }}
              </td>
              <td class="menuDeInicio__table-td-reporteGasto">
                {{ gasto.observacion | uppercase }}
              </td>
            </tr>
            <tr id="reporte-gastos-footer" class="menuDeInicio__table-tr">
              <th class="menuDeInicio__table-th">Total</th>
              <th class="menuDeInicio__table-th"></th>
              <th class="menuDeInicio__table-th">
                {{ totalMontoDeGasto | number: "1.0-0":"es" }} Gs
              </th>
              <th class="menuDeInicio__table-th"></th>
            </tr>
          </table>
        </div>
      </div>
      <div
        *ngIf="form.get('sucursal').value != ''"
        class="menuDeInicio__tableElemento"
      >
        <div class="reporte__dashboard-iconos">
          <button
            *ngIf="!isDownloadPDF[2] && usuario['role'] === 'ADMIN_ROLE'"
            (click)="downloadPDF('reporte-bancos-deposito', bancos.size,'Reporte de Depositos por Banco',2)"
            class="reporte__dashboard-btn"
            type="button"
          >
            <i class="fas fa-print"></i>
          </button>
          <button
            disabled
            *ngIf="isDownloadPDF[2]"
            class="reporte__dashboard-btn"
            type="button"
          >
            <i class="fas fa-spinner fa-pulse"></i>
          </button>
        </div>

        <div id="reporte-bancos-deposito" class="reporte__dashboard">
          <div
            id="reporte-bancos-deposito-titulo"
            class="reporte__dashboard-titulo"
          >
            <h4 class="menuDeInicio__tituloSecundario">
              {{ "Reporte de Depositos por Banco" | uppercase }}
            </h4>
          </div>
          <table class="menuDeInicio__table">
            <tr
              id="reporte-bancos-deposito-header"
              class="menuDeInicio__table-tr"
            >
              <th class="menuDeInicio__table-th">#</th>
              <th class="menuDeInicio__table-th">Comprobante</th>
              <th class="menuDeInicio__table-th-fecha">Banco</th>
              <th class="menuDeInicio__table-th">Monto</th>
            </tr>
            <tr
              id="{{'reporte-bancos-deposito-'+i}}"
              *ngFor="let banco of bancos; let i = index"
              class="menuDeInicio__table-tr"
            >
              <td class="menuDeInicio__table-td">{{ i + 1 }}</td>
              <td class="menuDeInicio__table-td">
                {{ "Deposito" | uppercase }}
              </td>
              <td class="menuDeInicio__table-td-fecha">
                {{ banco | uppercase }}
              </td>
              <td class="menuDeInicio__table-td">
                {{ depositoPorBanco[i] | number: "1.0-0":"es" }} Gs
              </td>
            </tr>
            <tr
              id="reporte-bancos-deposito-footer"
              class="menuDeInicio__table-tr"
            >
              <th class="menuDeInicio__table-th">Total</th>
              <th class="menuDeInicio__table-th"></th>
              <th class="menuDeInicio__table-td-fecha"></th>
              <th class="menuDeInicio__table-th">
                {{ totalDepositoPorBanco | number: "1.0-0":"es" }} Gs
              </th>
            </tr>
          </table>
        </div>
      </div>
      <div
        *ngIf="form.get('sucursal').value != ''"
        class="menuDeInicio__tableElemento"
      >
        <div class="reporte__dashboard-iconos">
          <button
            *ngIf="!isDownloadPDF[3] && usuario['role'] === 'ADMIN_ROLE'"
            (click)="downloadPDF('reporte-deposito-cuenta',cuentasBancarias.size,'Reporte de Depositos por Cuenta',3)"
            class="reporte__dashboard-btn"
            type="button"
          >
            <i class="fas fa-print"></i>
          </button>
          <button
            disabled
            *ngIf="isDownloadPDF[3]"
            class="reporte__dashboard-btn"
            type="button"
          >
            <i class="fas fa-spinner fa-pulse"></i>
          </button>
        </div>

        <div id="reporte-deposito-cuenta" class="reporte__dashboard">
          <div
            id="reporte-deposito-cuenta-titulo"
            class="reporte__dashboard-titulo"
          >
            <h4 class="menuDeInicio__tituloSecundario">
              {{ "Reporte de Depositos por Cuenta" | uppercase }}
            </h4>
          </div>
          <table class="menuDeInicio__table">
            <tr
              id="reporte-deposito-cuenta-header"
              class="menuDeInicio__table-tr"
            >
              <th class="menuDeInicio__table-th">#</th>
              <th class="menuDeInicio__table-th">Comprobante</th>
              <th class="menuDeInicio__table-th-fecha">Banco</th>
              <th class="menuDeInicio__table-th-cuentaBancaria">Cuenta</th>
              <th class="menuDeInicio__table-th">Monto</th>
            </tr>
            <tr
              id="{{'reporte-deposito-cuenta-'+i}}"
              *ngFor="let cuenta of cuentasBancarias; let i = index"
              class="menuDeInicio__table-tr"
            >
              <td class="menuDeInicio__table-td">{{ i + 1 }}</td>
              <td class="menuDeInicio__table-td">
                {{ "Deposito" | uppercase }}
              </td>
              <td class="menuDeInicio__table-td-fecha">
                {{ cuentasBanco[i] | uppercase }}
              </td>
              <td class="menuDeInicio__table-td-cuentaBancaria">
                {{ cuenta | uppercase }}
              </td>
              <td class="menuDeInicio__table-td">
                {{ depositoPorCuenta[i] | number: "1.0-0":"es" }} Gs
              </td>
            </tr>
            <tr
              id="reporte-deposito-cuenta-footer"
              class="menuDeInicio__table-tr"
            >
              <th class="menuDeInicio__table-th">Total</th>
              <th class="menuDeInicio__table-th"></th>
              <th class="menuDeInicio__table-th-fecha"></th>
              <th class="menuDeInicio__table-th-cuentaBancaria"></th>
              <th class="menuDeInicio__table-th">
                {{ totalDepositoPorCuenta | number: "1.0-0":"es" }} Gs
              </th>
            </tr>
          </table>
        </div>
      </div>

      <div
        *ngIf="form.get('sucursal').value != ''"
        class="menuDeInicio__tableElemento"
      >
        <div class="reporte__dashboard-iconos">
          <button
            *ngIf="!isDownloadPDF[4] && usuario['role'] === 'ADMIN_ROLE'"
            (click)="downloadPDF('reporte-deposito-arqueo', reporteDeDepositos.length,'Reporte de Depositos por día de arqueo', 4)"
            class="reporte__dashboard-btn"
            type="button"
          >
            <i class="fas fa-print"></i>
          </button>
          <button
            disabled
            *ngIf="isDownloadPDF[4]"
            class="reporte__dashboard-btn"
            type="button"
          >
            <i class="fas fa-spinner fa-pulse"></i>
          </button>
        </div>

        <div id="reporte-deposito-arqueo" class="reporte__dashboard">
          <div
            id="reporte-deposito-arqueo-titulo"
            class="reporte__dashboard-titulo"
          >
            <h4 class="menuDeInicio__tituloSecundario">
              {{ "Reporte de Depositos por día de arqueo" | uppercase }}
            </h4>
          </div>
          <table class="menuDeInicio__table">
            <tr
              id="reporte-deposito-arqueo-header"
              class="menuDeInicio__table-tr"
            >
              <th class="menuDeInicio__table-th">#</th>
              <th class="menuDeInicio__table-th">Comprobante</th>
              <th class="menuDeInicio__table-th">Banco</th>
              <th class="menuDeInicio__table-th-fecha">Cuenta</th>
              <th class="menuDeInicio__table-th-fecha">Fecha de Arqueo</th>
              <th class="menuDeInicio__table-th-fecha">Fecha de Deposito</th>
              <th class="menuDeInicio__table-th">Monto</th>
            </tr>
            <tr
              id="{{'reporte-deposito-arqueo-'+i}}"
              *ngFor="let deposito of reporteDeDepositos; let i = index"
              class="menuDeInicio__table-tr"
            >
              <td class="menuDeInicio__table-td">{{ i + 1 }}</td>
              <td class="menuDeInicio__table-td">
                {{ deposito.comprobante | uppercase }}
              </td>
              <td class="menuDeInicio__table-td">
                {{ deposito.banco | uppercase }}
              </td>
              <td class="menuDeInicio__table-td-fecha">
                {{ deposito.cuentaBancaria | uppercase }}
              </td>
              <td class="menuDeInicio__table-td-fecha">
                {{ deposito.fArqueo | date: "fullDate":"GMT-3":"es" }}
              </td>
              <td class="menuDeInicio__table-td-fecha">
                {{ deposito.fDeposito | date: "fullDate":"GMT-3":"es" }}
              </td>
              <td class="menuDeInicio__table-td">
                {{ deposito.monto | number: "1.0-0":"es" }} Gs
              </td>
            </tr>
            <tr
              id="reporte-deposito-arqueo-footer"
              class="menuDeInicio__table-tr"
            >
              <th class="menuDeInicio__table-th">Total</th>
              <th class="menuDeInicio__table-th"></th>
              <th class="menuDeInicio__table-th"></th>
              <th class="menuDeInicio__table-th-fecha"></th>
              <th class="menuDeInicio__table-th-fecha"></th>
              <th class="menuDeInicio__table-th-fecha"></th>
              <th class="menuDeInicio__table-th">
                {{ totalDeposito | number: "1.0-0":"es" }} Gs
              </th>
            </tr>
          </table>
        </div>
      </div>

      <div
        *ngIf="form.get('sucursal').value != ''"
        class="menuDeInicio__tableElemento"
      >
        <div class="reporte__dashboard-iconos">
          <button
            *ngIf="!isDownloadPDF[5] && usuario['role'] === 'ADMIN_ROLE'"
            (click)="downloadPDF('reporte-retiros',comprobantesRetiro.length,'Reporte de Retiros',5)"
            class="reporte__dashboard-btn"
            type="button"
          >
            <i class="fas fa-print"></i>
          </button>
          <button
            disabled
            *ngIf="isDownloadPDF[5]"
            class="reporte__dashboard-btn"
            type="button"
          >
            <i class="fas fa-spinner fa-pulse"></i>
          </button>
        </div>

        <div id="reporte-retiros" class="reporte__dashboard">
          <div id="reporte-retiros-titulo" class="reporte__dashboard-titulo">
            <h4 class="menuDeInicio__tituloSecundario">
              {{ "Reporte de Retiros" | uppercase }}
            </h4>
          </div>
          <table class="menuDeInicio__table">
            <tr id="reporte-retiros-header" class="menuDeInicio__table-tr">
              <th class="menuDeInicio__table-th">#</th>
              <th class="menuDeInicio__table-th">Autorizó</th>
              <th class="menuDeInicio__table-th-fecha">Retiró</th>
              <th class="menuDeInicio__table-th">Observación</th>
              <th class="menuDeInicio__table-th-fecha">Fecha de Arqueo</th>
              <th class="menuDeInicio__table-th">Monto</th>
            </tr>
            <tr
              id="{{'reporte-retiros-'+i}}"
              *ngFor="let comprobante of comprobantesRetiro; let i = index"
              class="menuDeInicio__table-tr"
            >
              <td class="menuDeInicio__table-td">{{ i + 1 }}</td>
              <td class="menuDeInicio__table-td">
                {{ comprobante.autorizaNA | uppercase }} ({{
                comprobante.autorizaCI | uppercase }})
              </td>
              <td class="menuDeInicio__table-td-fecha">
                {{ comprobante.retiraNA | uppercase }} ({{ comprobante.retiraCI
                | uppercase }})
              </td>
              <td class="menuDeInicio__table-td">
                {{ comprobante.observacion | uppercase }}
              </td>
              <td class="menuDeInicio__table-td-fecha">
                {{ comprobante.fArqueo | date: "fullDate":"GMT-3":"es" }}
              </td>
              <td class="menuDeInicio__table-td">
                {{ comprobante.monto | number: "1.0-0":"es" }} Gs
              </td>
            </tr>
            <tr id="reporte-retiros-footer" class="menuDeInicio__table-tr">
              <th class="menuDeInicio__table-th">Total</th>
              <th class="menuDeInicio__table-th"></th>
              <th class="menuDeInicio__table-th-fecha"></th>
              <th class="menuDeInicio__table-th"></th>
              <th class="menuDeInicio__table-th-fecha"></th>
              <th class="menuDeInicio__table-th">
                {{ totalComprobantesRetiro | number: "1.0-0":"es" }} Gs
              </th>
            </tr>
          </table>
        </div>
      </div>
      <div
        *ngIf="form.get('sucursal').value != ''"
        class="menuDeInicio__tableElemento"
      >
        <div class="reporte__dashboard-iconos">
          <button
            *ngIf="!isDownloadPDF[6] && usuario['role'] === 'ADMIN_ROLE'"
            (click)="downloadPDF('reporte-pagos-tarjetas',comprobantesTarjeta.length,'Reporte de pagos con Tarjeta',6)"
            class="reporte__dashboard-btn"
            type="button"
          >
            <i class="fas fa-print"></i>
          </button>
          <button
            disabled
            *ngIf="isDownloadPDF[6]"
            class="reporte__dashboard-btn"
            type="button"
          >
            <i class="fas fa-spinner fa-pulse"></i>
          </button>
        </div>

        <div id="reporte-pagos-tarjetas" class="reporte__dashboard">
          <div
            id="reporte-pagos-tarjetas-titulo"
            class="reporte__dashboard-titulo"
          >
            <h4 class="menuDeInicio__tituloSecundario">
              {{ "Reporte de pagos con Tarjeta" | uppercase }}
            </h4>
          </div>
          <table class="menuDeInicio__table">
            <tr
              id="reporte-pagos-tarjetas-header"
              class="menuDeInicio__table-tr"
            >
              <th class="menuDeInicio__table-th">#</th>
              <th class="menuDeInicio__table-th">Comprobante</th>
              <th class="menuDeInicio__table-th-cuentaBancaria">Nro. Boleta</th>
              <th class="menuDeInicio__table-th-fecha">Fecha de Arqueo</th>
              <th class="menuDeInicio__table-th">Monto</th>
            </tr>
            <tr
              id="{{'reporte-pagos-tarjetas-'+i}}"
              *ngFor="let comprobante of comprobantesTarjeta; let i = index"
              class="menuDeInicio__table-tr"
            >
              <td class="menuDeInicio__table-td">{{ i + 1 }}</td>
              <td class="menuDeInicio__table-td">
                {{ comprobante.comprobante | uppercase }}
              </td>
              <td class="menuDeInicio__table-td-cuentaBancaria">
                {{ comprobante.boleta | uppercase }}
              </td>
              <td class="menuDeInicio__table-td-fecha">
                {{ comprobante.fArqueo | date: "fullDate":"GMT-3":"es" }}
              </td>
              <td class="menuDeInicio__table-td">
                {{ comprobante.monto | number: "1.0-0":"es" }} Gs
              </td>
            </tr>
            <tr
              id="reporte-pagos-tarjetas-footer"
              class="menuDeInicio__table-tr"
            >
              <th class="menuDeInicio__table-th">Total</th>
              <th class="menuDeInicio__table-th"></th>
              <th class="menuDeInicio__table-th-fecha"></th>
              <th class="menuDeInicio__table-th-cuentaBancaria"></th>
              <th class="menuDeInicio__table-th">
                {{ totalTarjeta | number: "1.0-0":"es" }} Gs
              </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
