<div class="lienas__encabezado">
  <h2 class="productos__titulo">
    <i class="productos__icono fas fa-circle"></i>{{ "Líneas" | uppercase }}
  </h2>
</div>
<div class="lineas">
  <div class="lineas__elemento">
    <img
      src="{{ './assets/img/roubaix.png' }}"
      alt=""
      class="lineas__icono"
    />
  </div>
  
  <div class="lineas__elemento">
    <img
      src="{{ './assets/img/blanco/real.png' }}"
      alt=""
      class="lineas__icono"
    />
  </div>
  <div class="lineas__elemento">
    <img src="{{ './assets/img/blanco/nevada.png' }}" alt="" class="lineas__icono" />
  </div>
  <div class="lineas__elemento">
    <img src="{{ './assets/img/blanco/rosental.png' }}" alt="" class="lineas__icono" />
  </div>
 
  <div class="lineas__elemento">
    <img
      src="{{ './assets/img/blanco/skafe.png' }}"
      alt=""
      class="lineas__icono"
    />
  </div>
</div>
