<div class="crear__comprobantes">
  <div class="crear__comprobantes-formulario-select-container">
    <select
      class="custom-select"
      name="crear__comprobantes-comprobantes"
      (change)="seleccionarFormulario($event.target.value)"
    >
      <option value="" selected>Seleccione Comprobante</option>
      <option
        *ngFor="let comprobante of listaComprobantes"
        [value]="comprobante"
      >
        {{ comprobante }}
      </option>
    </select>
    <span class="custom-arrow"
      ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
    ></span>
  </div>
  <form
    *ngIf="mostrar == 'ANDE'"
    class="crear__comprobantes-container"
    [formGroup]="formularioComprobante"
    (ngSubmit)="guardarFormulario()"
  >
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Sucursal: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select class="custom-select" formControlName="sucursal">
          <option value="" selected>Seleccione Sucursal</option>
          <option
            *ngFor="let sucursal of sucursales"
            value="{{ sucursal._id }}"
          >
            {{ sucursal.titulo }}
          </option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <mat-label>Fecha de Arqueo: </mat-label>
      <input
        formControlName="fArqueo"
        class="crear__comprobantes-formulario-input-fecha"
        matInput
        [matDatepicker]="picker2"
        placeholder="Mes/Día/Año"
        [disabled]="true"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
    </div>
    <hr />
    <div class="crear__comprobantes-formulario-elemento">
      <label for="nis">NIS: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        name="nis"
        formControlName="nis"
      />
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <mat-label>Vencimiento: </mat-label>
      <input
        formControlName="fVencimiento"
        class="crear__comprobantes-formulario-input-fecha"
        matInput
        [matDatepicker]="picker"
        placeholder="Mes/Día/Año"
        [disabled]="true"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [disabled]="false"></mat-datepicker>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="nrocomprobante">Nro. Comprobante: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="nroComprobante"
        name="nrocomprobante"
      />
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="monto">Monto: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="monto"
        name="monto"
      />
    </div>
    <!--Cargar img-->
    <!--ESTILO 7-->
    <div class="crear__comprobantes-formulario-elemento">
      <input
        (change)="handleFileInput($event.target.files)"
        type="file"
        name="file-7"
        id="file-7"
        class="inputfile inputfile-7"
      />
      <label for="file-7">
        <span *ngIf="comprobanteIMG" class="iborrainputfile"
          >{{comprobanteIMG.name}}</span
        >
        <strong>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="iborrainputfile"
            width="20"
            height="17"
            viewBox="0 0 20 17"
          >
            <path
              d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
            ></path>
          </svg>
          Seleccionar comprobante
        </strong>
      </label>
    </div>
    <!--Fin cargar img-->
    <button
      class="crear__comprobantes-btn"
      *ngIf="!creandoComprobante"
      type="submit"
    >
      Cargar Comprobante
    </button>
    <button
      class="crear__comprobantes-loading-btn"
      *ngIf="creandoComprobante"
      type="button"
      [disabled]="true"
    >
      <i class="fas fa-spinner fa-pulse fa-2x"></i>
    </button>
  </form>
  <form
    *ngIf="mostrar == 'SERVICIOS'"
    class="crear__comprobantes-container"
    [formGroup]="formularioComprobante"
    (ngSubmit)="guardarFormulario()"
  >
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Sucursal: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select class="custom-select" formControlName="sucursal">
          <option value="" selected>Seleccione Sucursal</option>
          <option
            *ngFor="let sucursal of sucursales"
            value="{{ sucursal._id }}"
          >
            {{ sucursal.titulo }}
          </option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <mat-label>Fecha de Arqueo: </mat-label>
      <input
        formControlName="fArqueo"
        class="crear__comprobantes-formulario-input-fecha"
        matInput
        [matDatepicker]="picker2"
        placeholder="Mes/Día/Año"
        [disabled]="true"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
    </div>
    <hr />
    <div class="crear__comprobantes-formulario-elemento">
      <label for="servicio">Servicio: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="servicio"
        name="servicio"
      />
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Tipo Comprobante: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select
          class="custom-select"
          name="tipoComprobante"
          formControlName="tipoComprobante"
        >
          <option value="">Seleccione el tipo de Comprobante</option>
          <option value="Factura">Factura</option>
          <option value="Boleta común">Boleta común</option>
          <option value="Recibo">Recibo</option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="nroComprobante">Nro. Comprobante: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="nroComprobante"
        name="nroComprobante"
      />
    </div>

    <div class="crear__comprobantes-formulario-elemento-textarea">
      <label for="observacion">Observación: </label>
      <textarea
        class="crear__comprobantes-formulario-textarea"
        formControlName="observacion"
        name="observacion"
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="monto">Monto: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="monto"
        name="monto"
      />
    </div>
    <!--Cargar img-->
    <!--ESTILO 7-->
    <div class="crear__comprobantes-formulario-elemento">
      <input
        (change)="handleFileInput($event.target.files)"
        type="file"
        name="file-7"
        id="file-7"
        class="inputfile inputfile-7"
      />
      <label for="file-7">
        <span *ngIf="comprobanteIMG" class="iborrainputfile"
          >{{comprobanteIMG.name}}</span
        >
        <strong>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="iborrainputfile"
            width="20"
            height="17"
            viewBox="0 0 20 17"
          >
            <path
              d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
            ></path>
          </svg>
          Seleccionar comprobante
        </strong>
      </label>
    </div>
    <!--Fin cargar img-->
    <button
      class="crear__comprobantes-btn"
      *ngIf="!creandoComprobante"
      type="submit"
    >
      Cargar Comprobante
    </button>
    <button
      class="crear__comprobantes-loading-btn"
      *ngIf="creandoComprobante"
      type="button"
      [disabled]="true"
    >
      <i class="fas fa-spinner fa-pulse fa-2x"></i>
    </button>
  </form>
  <form
    *ngIf="mostrar == 'IMPUESTO'"
    class="crear__comprobantes-container"
    [formGroup]="formularioComprobante"
    (ngSubmit)="guardarFormulario()"
  >
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Sucursal: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select class="custom-select" formControlName="sucursal">
          <option value="" selected>Seleccione Sucursal</option>
          <option
            *ngFor="let sucursal of sucursales"
            value="{{ sucursal._id }}"
          >
            {{ sucursal.titulo }}
          </option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <mat-label>Fecha de Arqueo: </mat-label>
      <input
        formControlName="fArqueo"
        class="crear__comprobantes-formulario-input-fecha"
        matInput
        [matDatepicker]="picker2"
        placeholder="Mes/Día/Año"
        [disabled]="true"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
    </div>
    <hr />
    <div class="crear__comprobantes-formulario-elemento">
      <label for="impuesto">Impuesto: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="impuesto"
        name="impuesto"
      />
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Tipo Comprobante: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select
          class="custom-select"
          name="tipoComprobante"
          formControlName="tipoComprobante"
        >
          <option value="">Seleccione el tipo de Comprobante</option>
          <option value="Factura">Factura</option>
          <option value="Boleta común">Boleta común</option>
          <option value="Recibo">Recibo</option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="nroComprobante">Nro. Comprobante: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="nroComprobante"
        name="nroComprobante"
      />
    </div>

    <div class="crear__comprobantes-formulario-elemento-textarea">
      <label for="observacion">Observación: </label>
      <textarea
        class="crear__comprobantes-formulario-textarea"
        formControlName="observacion"
        name="observacion"
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="monto">Monto: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="monto"
        name="monto"
      />
    </div>
    <!--Cargar img-->
    <!--ESTILO 7-->
    <div class="crear__comprobantes-formulario-elemento">
      <input
        (change)="handleFileInput($event.target.files)"
        type="file"
        name="file-7"
        id="file-7"
        class="inputfile inputfile-7"
      />
      <label for="file-7">
        <span *ngIf="comprobanteIMG" class="iborrainputfile"
          >{{comprobanteIMG.name}}</span
        >
        <strong>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="iborrainputfile"
            width="20"
            height="17"
            viewBox="0 0 20 17"
          >
            <path
              d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
            ></path>
          </svg>
          Seleccionar comprobante
        </strong>
      </label>
    </div>
    <!--Fin cargar img-->
    <button
      class="crear__comprobantes-btn"
      *ngIf="!creandoComprobante"
      type="submit"
    >
      Cargar Comprobante
    </button>
    <button
      class="crear__comprobantes-loading-btn"
      *ngIf="creandoComprobante"
      type="button"
      [disabled]="true"
    >
      <i class="fas fa-spinner fa-pulse fa-2x"></i>
    </button>
  </form>
  <form
    *ngIf="mostrar == 'SALARIO'"
    class="crear__comprobantes-container"
    [formGroup]="formularioComprobante"
    (ngSubmit)="guardarFormulario()"
  >
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Sucursal: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select class="custom-select" formControlName="sucursal">
          <option value="" selected>Seleccione Sucursal</option>
          <option
            *ngFor="let sucursal of sucursales"
            value="{{ sucursal._id }}"
          >
            {{ sucursal.titulo }}
          </option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <mat-label>Fecha de Arqueo: </mat-label>
      <input
        formControlName="fArqueo"
        class="crear__comprobantes-formulario-input-fecha"
        matInput
        [matDatepicker]="picker2"
        placeholder="Mes/Día/Año"
        [disabled]="true"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
    </div>
    <hr />
    <div class="crear__comprobantes-formulario-elemento">
      <label for="nombreApellido">Nombre y Apellido: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="nombreApellido"
        name="nombreApellido"
      />
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="cedula">Nro. Cédula: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="cedula"
        name="cedula"
      />
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="cargo">Cargo: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="cargo"
        name="cargo"
      />
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Tipo Comprobante: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select
          class="custom-select"
          name="tipoComprobante"
          formControlName="tipoComprobante"
        >
          <option value="">Seleccione el tipo de Comprobante</option>
          <option value="Factura">Factura</option>
          <option value="Boleta común">Boleta común</option>
          <option value="Recibo">Recibo</option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="nroComprobante">Nro. Comprobante: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="nroComprobante"
        name="nroComprobante"
      />
    </div>

    <div class="crear__comprobantes-formulario-elemento-textarea">
      <label for="observacion">Observación: </label>
      <textarea
        class="crear__comprobantes-formulario-textarea"
        formControlName="observacion"
        name="observacion"
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="monto">Monto: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="monto"
        name="monto"
      />
    </div>
    <!--Cargar img-->
    <!--ESTILO 7-->
    <div class="crear__comprobantes-formulario-elemento">
      <input
        (change)="handleFileInput($event.target.files)"
        type="file"
        name="file-7"
        id="file-7"
        class="inputfile inputfile-7"
      />
      <label for="file-7">
        <span *ngIf="comprobanteIMG" class="iborrainputfile"
          >{{comprobanteIMG.name}}</span
        >
        <strong>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="iborrainputfile"
            width="20"
            height="17"
            viewBox="0 0 20 17"
          >
            <path
              d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
            ></path>
          </svg>
          Seleccionar comprobante
        </strong>
      </label>
    </div>
    <!--Fin cargar img-->
    <button
      class="crear__comprobantes-btn"
      *ngIf="!creandoComprobante"
      type="submit"
    >
      Cargar Comprobante
    </button>
    <button
      class="crear__comprobantes-loading-btn"
      *ngIf="creandoComprobante"
      type="button"
      [disabled]="true"
    >
      <i class="fas fa-spinner fa-pulse fa-2x"></i>
    </button>
  </form>
  <form
    *ngIf="mostrar == 'INSUMOS'"
    class="crear__comprobantes-container"
    [formGroup]="formularioComprobante"
    (ngSubmit)="guardarFormulario()"
  >
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Sucursal: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select class="custom-select" formControlName="sucursal">
          <option value="" selected>Seleccione Sucursal</option>
          <option
            *ngFor="let sucursal of sucursales"
            value="{{ sucursal._id }}"
          >
            {{ sucursal.titulo }}
          </option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <mat-label>Fecha de Arqueo: </mat-label>
      <input
        formControlName="fArqueo"
        class="crear__comprobantes-formulario-input-fecha"
        matInput
        [matDatepicker]="picker2"
        placeholder="Mes/Día/Año"
        [disabled]="true"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
    </div>
    <hr />
    <div class="crear__comprobantes-formulario-elemento">
      <label for="comercial">Comercial: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="comercial"
        name="comercial"
      />
    </div>
    <div class="crear__comprobantes-formulario-elemento-textarea">
      <label for="insumos">Insumos: </label>
      <textarea
        class="crear__comprobantes-formulario-textarea"
        formControlName="insumos"
        name="insumos"
        cols="30"
        rows="6"
      ></textarea>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Tipo Comprobante: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select
          class="custom-select"
          name="tipoComprobante"
          formControlName="tipoComprobante"
        >
          <option value="">Seleccione el tipo de Comprobante</option>
          <option value="Factura">Factura</option>
          <option value="Boleta común">Boleta común</option>
          <option value="Recibo">Recibo</option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="nroComprobante">Nro. Comprobante: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="nroComprobante"
        name="nroComprobante"
      />
    </div>

    <div class="crear__comprobantes-formulario-elemento-textarea">
      <label for="observacion">Observación: </label>
      <textarea
        class="crear__comprobantes-formulario-textarea"
        formControlName="observacion"
        name="observacion"
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="monto">Monto: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="monto"
        name="monto"
      />
    </div>
    <!--Cargar img-->
    <!--ESTILO 7-->
    <div class="crear__comprobantes-formulario-elemento">
      <input
        (change)="handleFileInput($event.target.files)"
        type="file"
        name="file-7"
        id="file-7"
        class="inputfile inputfile-7"
      />
      <label for="file-7">
        <span *ngIf="comprobanteIMG" class="iborrainputfile"
          >{{comprobanteIMG.name}}</span
        >
        <strong>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="iborrainputfile"
            width="20"
            height="17"
            viewBox="0 0 20 17"
          >
            <path
              d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
            ></path>
          </svg>
          Seleccionar comprobante
        </strong>
      </label>
    </div>
    <!--Fin cargar img-->
    <button
      class="crear__comprobantes-btn"
      *ngIf="!creandoComprobante"
      type="submit"
    >
      Cargar Comprobante
    </button>
    <button
      class="crear__comprobantes-loading-btn"
      *ngIf="creandoComprobante"
      type="button"
      [disabled]="true"
    >
      <i class="fas fa-spinner fa-pulse fa-2x"></i>
    </button>
  </form>
  <form
    *ngIf="mostrar == 'RETIRO'"
    class="crear__comprobantes-container"
    [formGroup]="formularioComprobante"
    (ngSubmit)="guardarFormulario()"
  >
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Sucursal: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select class="custom-select" formControlName="sucursal">
          <option value="" selected>Seleccione Sucursal</option>
          <option
            *ngFor="let sucursal of sucursales"
            value="{{ sucursal._id }}"
          >
            {{ sucursal.titulo }}
          </option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <mat-label>Fecha de Arqueo: </mat-label>
      <input
        formControlName="fArqueo"
        class="crear__comprobantes-formulario-input-fecha"
        matInput
        [matDatepicker]="picker2"
        placeholder="Mes/Día/Año"
        [disabled]="true"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
    </div>
    <hr />
    <div class="crear__comprobantes-formulario-elemento">
      <label for="autorizaNA">Autoriza: </label>
      <div class="crear__comprobantes-formulario-elemento">
        <input
          class="crear__comprobantes-formulario-input"
          type="text"
          formControlName="autorizaNA"
          name="autorizaNA"
          placeholder="Nombre y Apellido"
        />
      </div>
      <div class="crear__comprobantes-formulario-elemento">
        <input
          class="crear__comprobantes-formulario-input"
          type="text"
          formControlName="autorizaCI"
          name="autorizaCI"
          placeholder="Cédula"
        />
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="autorizaNA">Retira: </label>
      <div class="crear__comprobantes-formulario-elemento">
        <input
          class="crear__comprobantes-formulario-input"
          type="text"
          formControlName="retiraNA"
          name="retiraNA"
          placeholder="Nombre y Apellido"
        />
      </div>
      <div class="crear__comprobantes-formulario-elemento">
        <input
          class="crear__comprobantes-formulario-input"
          type="text"
          formControlName="retiraCI"
          name="retiraCI"
          placeholder="Cédula"
        />
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento-textarea">
      <label for="motivo">Motivo: </label>
      <textarea
        class="crear__comprobantes-formulario-textarea"
        formControlName="motivo"
        name="motivo"
        cols="30"
        rows="3"
      ></textarea>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Tipo Comprobante: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select
          class="custom-select"
          name="tipoComprobante"
          formControlName="tipoComprobante"
        >
          <option value="">Seleccione el tipo de Comprobante</option>
          <option value="Factura">Factura</option>
          <option value="Boleta común">Boleta común</option>
          <option value="Recibo">Recibo</option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="nroComprobante">Nro. Comprobante: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="nroComprobante"
        name="nroComprobante"
      />
    </div>
    <div class="crear__comprobantes-formulario-elemento-textarea">
      <label for="observacion">Observación: </label>
      <textarea
        class="crear__comprobantes-formulario-textarea"
        formControlName="observacion"
        name="observacion"
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="monto">Monto: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="monto"
        name="monto"
      />
    </div>
    <!--Cargar img-->
    <!--ESTILO 7-->
    <div class="crear__comprobantes-formulario-elemento">
      <input
        (change)="handleFileInput($event.target.files)"
        type="file"
        name="file-7"
        id="file-7"
        class="inputfile inputfile-7"
      />
      <label for="file-7">
        <span *ngIf="comprobanteIMG" class="iborrainputfile"
          >{{comprobanteIMG.name}}</span
        >
        <strong>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="iborrainputfile"
            width="20"
            height="17"
            viewBox="0 0 20 17"
          >
            <path
              d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
            ></path>
          </svg>
          Seleccionar comprobante
        </strong>
      </label>
    </div>
    <!--Fin cargar img-->
    <button
      class="crear__comprobantes-btn"
      *ngIf="!creandoComprobante"
      type="submit"
    >
      Cargar Comprobante
    </button>
    <button
      class="crear__comprobantes-loading-btn"
      *ngIf="creandoComprobante"
      type="button"
      [disabled]="true"
    >
      <i class="fas fa-spinner fa-pulse fa-2x"></i>
    </button>
  </form>
  <form
    *ngIf="mostrar == 'DEPOSITO'"
    class="crear__comprobantes-container"
    [formGroup]="formularioComprobante"
    (ngSubmit)="guardarFormulario()"
  >
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Sucursal: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select class="custom-select" formControlName="sucursal">
          <option value="" selected>Seleccione Sucursal</option>
          <option
            *ngFor="let sucursal of sucursales"
            value="{{ sucursal._id }}"
          >
            {{ sucursal.titulo }}
          </option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <mat-label>Fecha de Arqueo: </mat-label>
      <input
        formControlName="fArqueo"
        class="crear__comprobantes-formulario-input-fecha"
        matInput
        [matDatepicker]="picker2"
        placeholder="Mes/Día/Año"
        [disabled]="true"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
    </div>
    <hr />
    <div class="crear__comprobantes-formulario-elemento">
      <label for="banco">Banco: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select
          (change)="onChange($event.target.value)"
          class="custom-select"
          name="banco"
          formControlName="banco"
        >
          <option value="">Seleccionar un Banco</option>
          <option *ngFor="let banco of bancos" value="{{banco._id}}">
            {{banco.nombre}}
          </option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="cuentaBancaria">Cuentas Bancarias: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select
          class="custom-select"
          name="cuentaBancaria"
          formControlName="cuentaBancaria"
        >
          <option value="">Seleccionar una Cuenta</option>
          <ng-container *ngFor="let cuenta of cuentas">
            <option
              *ngIf="formularioComprobante.get('banco')?.value == cuenta.banco"
              value="{{cuenta._id}}"
            >
              {{cuenta.titular + ' | '+ cuenta.nroCuenta}}
            </option>
          </ng-container>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>

    <div class="crear__comprobantes-formulario-elemento">
      <mat-label>Fecha de Deposito: </mat-label>
      <input
        formControlName="fDeposito"
        class="crear__comprobantes-formulario-input-fecha"
        matInput
        [matDatepicker]="picker3"
        placeholder="Mes/Día/Año"
        [disabled]="true"
      />
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3 [disabled]="false"></mat-datepicker>
    </div>

    <div class="crear__comprobantes-formulario-elemento">
      <label for="nroComprobante">Nro. Comprobante: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="nroComprobante"
        name="nroComprobante"
      />
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="monto">Monto: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="monto"
        name="monto"
      />
    </div>
    <!--Cargar img-->
    <!--ESTILO 7-->
    <div class="crear__comprobantes-formulario-elemento">
      <input
        (change)="handleFileInput($event.target.files)"
        type="file"
        name="file-7"
        id="file-7"
        class="inputfile inputfile-7"
      />
      <label for="file-7">
        <span *ngIf="comprobanteIMG" class="iborrainputfile"
          >{{comprobanteIMG.name}}</span
        >
        <strong>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="iborrainputfile"
            width="20"
            height="17"
            viewBox="0 0 20 17"
          >
            <path
              d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
            ></path>
          </svg>
          Seleccionar comprobante
        </strong>
      </label>
    </div>
    <!--Fin cargar img-->
    <button
      class="crear__comprobantes-btn"
      *ngIf="!creandoComprobante"
      type="submit"
    >
      Cargar Comprobante
    </button>
    <button
      class="crear__comprobantes-loading-btn"
      *ngIf="creandoComprobante"
      type="button"
      [disabled]="true"
    >
      <i class="fas fa-spinner fa-pulse fa-2x"></i>
    </button>
  </form>

  <form
    *ngIf="mostrar == 'TARJETA'"
    class="crear__comprobantes-container"
    [formGroup]="formularioComprobante"
    (ngSubmit)="guardarFormulario()"
  >
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Sucursal: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select class="custom-select" formControlName="sucursal">
          <option value="" selected>Seleccione Sucursal</option>
          <option
            *ngFor="let sucursal of sucursales"
            value="{{ sucursal._id }}"
          >
            {{ sucursal.titulo }}
          </option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <mat-label>Fecha de Arqueo: </mat-label>
      <input
        formControlName="fArqueo"
        class="crear__comprobantes-formulario-input-fecha"
        matInput
        [matDatepicker]="picker2"
        placeholder="Mes/Día/Año"
        [disabled]="true"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
    </div>
    <hr />
    <div class="crear__comprobantes-formulario-elemento">
      <label for="boleta">Boleta: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="boleta"
        name="boleta"
      />
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="monto">Monto Gs: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="monto"
        name="monto"
      />
    </div>
    <!--Cargar img-->
    <!--ESTILO 7-->
    <div class="crear__comprobantes-formulario-elemento">
      <input
        (change)="handleFileInput($event.target.files)"
        type="file"
        name="file-7"
        id="file-7"
        class="inputfile inputfile-7"
      />
      <label for="file-7">
        <span *ngIf="comprobanteIMG" class="iborrainputfile"
          >{{comprobanteIMG.name}}</span
        >
        <strong>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="iborrainputfile"
            width="20"
            height="17"
            viewBox="0 0 20 17"
          >
            <path
              d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
            ></path>
          </svg>
          Seleccionar comprobante
        </strong>
      </label>
    </div>
    <!--Fin cargar img-->
    <button
      class="crear__comprobantes-btn"
      *ngIf="!creandoComprobante"
      type="submit"
    >
      Cargar Comprobante
    </button>
    <button
      class="crear__comprobantes-loading-btn"
      *ngIf="creandoComprobante"
      type="button"
      [disabled]="true"
    >
      <i class="fas fa-spinner fa-pulse fa-2x"></i>
    </button>
  </form>

  <form
    *ngIf="mostrar == 'CHEQUE'"
    class="crear__comprobantes-container"
    [formGroup]="formularioComprobante"
    (ngSubmit)="guardarFormulario()"
  >
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Sucursal: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select class="custom-select" formControlName="sucursal">
          <option value="" selected>Seleccione Sucursal</option>
          <option
            *ngFor="let sucursal of sucursales"
            value="{{ sucursal._id }}"
          >
            {{ sucursal.titulo }}
          </option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <mat-label>Fecha de Arqueo: </mat-label>
      <input
        formControlName="fArqueo"
        class="crear__comprobantes-formulario-input-fecha"
        matInput
        [matDatepicker]="picker2"
        placeholder="Mes/Día/Año"
        [disabled]="true"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
    </div>
    <hr />
    <div class="crear__comprobantes-formulario-elemento">
      <label for="banco">Banco: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="bancoCliente"
        name="bancoCliente"
      />
    </div>

    <div class="crear__comprobantes-formulario-elemento">
      <label for="emisor">Emisor: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="emisor"
        name="emisor"
      />
    </div>

    <div class="crear__comprobantes-formulario-elemento">
      <label for="cedula">Cédula del Emisor: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="cedula"
        name="cedula"
      />
    </div>

    <div class="crear__comprobantes-formulario-elemento">
      <label for="cuentaNro">Cuenta Número: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="cuentaNro"
        name="cuentaNro"
      />
    </div>

    <div class="crear__comprobantes-formulario-elemento">
      <label for="chequeNro">Cheque Número: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="chequeNro"
        name="chequeNro"
      />
    </div>

    <div class="crear__comprobantes-formulario-elemento">
      <label for="paguese">Páguese a la orden de: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="paguese"
        name="paguese"
      />
    </div>

    <div class="crear__comprobantes-formulario-elemento-textarea">
      <label for="observacion">Observación: </label>
      <textarea
        class="crear__comprobantes-formulario-textarea"
        formControlName="observacion"
        name="observacion"
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="monto">Monto G: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="monto"
        name="monto"
      />
    </div>
    <!--Cargar img-->
    <!--ESTILO 7-->
    <div class="crear__comprobantes-formulario-elemento">
      <input
        (change)="handleFileInput($event.target.files)"
        type="file"
        name="file-7"
        id="file-7"
        class="inputfile inputfile-7"
      />
      <label for="file-7">
        <span *ngIf="comprobanteIMG" class="iborrainputfile"
          >{{comprobanteIMG.name}}</span
        >
        <strong>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="iborrainputfile"
            width="20"
            height="17"
            viewBox="0 0 20 17"
          >
            <path
              d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
            ></path>
          </svg>
          Seleccionar comprobante
        </strong>
      </label>
    </div>
    <!--Fin cargar img-->
    <button
      class="crear__comprobantes-btn"
      *ngIf="!creandoComprobante"
      type="submit"
    >
      Cargar Comprobante
    </button>
    <button
      class="crear__comprobantes-loading-btn"
      *ngIf="creandoComprobante"
      type="button"
      [disabled]="true"
    >
      <i class="fas fa-spinner fa-pulse fa-2x"></i>
    </button>
  </form>

  <form
    *ngIf="mostrar == 'DESCUENTO'"
    class="crear__comprobantes-container"
    [formGroup]="formularioComprobante"
    (ngSubmit)="guardarFormulario()"
  >
    <div class="crear__comprobantes-formulario-elemento">
      <label for="tipoComprobante">Sucursal: </label>
      <div class="crear__comprobantes-formulario-select-container">
        <select class="custom-select" formControlName="sucursal">
          <option value="" selected>Seleccione Sucursal</option>
          <option
            *ngFor="let sucursal of sucursales"
            value="{{ sucursal._id }}"
          >
            {{ sucursal.titulo }}
          </option>
        </select>
        <span class="custom-arrow"
          ><i class="custom-arrow-img fas fa-chevron-circle-down fa-2x"></i
        ></span>
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <mat-label>Fecha de Arqueo: </mat-label>
      <input
        formControlName="fArqueo"
        class="crear__comprobantes-formulario-input-fecha"
        matInput
        [matDatepicker]="picker2"
        placeholder="Mes/Día/Año"
        [disabled]="true"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
    </div>
    <hr />
    <div class="crear__comprobantes-formulario-elemento">
      <label for="autorizaNA">Autoriza: </label>
      <div class="crear__comprobantes-formulario-elemento">
        <input
          class="crear__comprobantes-formulario-input"
          type="text"
          formControlName="autorizaNA"
          name="autorizaNA"
          placeholder="Nombre y Apellido"
        />
      </div>
      <div class="crear__comprobantes-formulario-elemento">
        <input
          class="crear__comprobantes-formulario-input"
          type="text"
          formControlName="autorizaCI"
          name="autorizaCI"
          placeholder="Cédula"
        />
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="autorizaNA">Empleado: </label>
      <div class="crear__comprobantes-formulario-elemento">
        <input
          class="crear__comprobantes-formulario-input"
          type="text"
          formControlName="empleadoNA"
          name="empleadoNA"
          placeholder="Nombre y Apellido"
        />
      </div>
      <div class="crear__comprobantes-formulario-elemento">
        <input
          class="crear__comprobantes-formulario-input"
          type="text"
          formControlName="empleadoCI"
          name="empleadoCI"
          placeholder="Cédula"
        />
      </div>
    </div>
    <div class="crear__comprobantes-formulario-elemento-textarea">
      <label for="observacion">Observación: </label>
      <textarea
        class="crear__comprobantes-formulario-textarea"
        formControlName="observacion"
        name="observacion"
        cols="30"
        rows="4"
      ></textarea>
    </div>
    <div class="crear__comprobantes-formulario-elemento">
      <label for="monto">Monto: </label>
      <input
        class="crear__comprobantes-formulario-input"
        type="text"
        formControlName="monto"
        name="monto"
      />
    </div>
    <!--Cargar img-->
    <!--ESTILO 7-->
    <div class="crear__comprobantes-formulario-elemento">
      <input
        (change)="handleFileInput($event.target.files)"
        type="file"
        name="file-7"
        id="file-7"
        class="inputfile inputfile-7"
      />
      <label for="file-7">
        <span *ngIf="comprobanteIMG" class="iborrainputfile"
          >{{comprobanteIMG.name}}</span
        >
        <strong>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="iborrainputfile"
            width="20"
            height="17"
            viewBox="0 0 20 17"
          >
            <path
              d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
            ></path>
          </svg>
          Seleccionar comprobante
        </strong>
      </label>
    </div>
    <!--Fin cargar img-->
    <button
      class="crear__comprobantes-btn"
      *ngIf="!creandoComprobante"
      type="submit"
    >
      Cargar Comprobante
    </button>
    <button
      class="crear__comprobantes-loading-btn"
      *ngIf="creandoComprobante"
      type="button"
      [disabled]="true"
    >
      <i class="fas fa-spinner fa-pulse fa-2x"></i>
    </button>
  </form>
</div>
